body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.rating {
  color: gold;
}
.btn-primary {
  background-color: #f0c040;
  color: #000000;
}
.site-container {
  min-height: 100vh;
}
main {
  flex: 1;
}
.productimage {
  width: 100%;
  max-width: 600px;
  height: 500px;
  padding-left: 300px;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.img-thumbnail {
  height: 80px;
}
.small-container {
  max-width: 600px;
}
.product {
  border: 1px solid black;
  margin: 16px;
  padding: 1px;
  height: 510px;
  display: flex;
  align-items: center;
}
.homescreentitle {
  padding-left: 100px;
}
.product img {
  width: 100%;
  height: 300px;
}
.product-details {
  padding: 10px;
}
.unordered-list {
  list-style: none;
}
.d-grid {
  padding-top: 20px;
  width: 75%;
}
.card {
  width: 75%;
}
